{% extends 'company/company_layout.html' %}
{% load static %}
{% block body %} 

<div class="contain"><center>
        <div class="box_1"><h1>Employee</h1><b>{{ employees }}</b></div>
        <div class="box_1"><h1>Active</h1><b>1</b></div>
        <div class="box_1"><h1>Deactive</h1><b>1</b></div>
        <div class="box_1"><h1>New Leave</h1><b>0</b></div>
        <div class="box_1"><h1>Approved</h1><b>1</b></div>
        <div class="box_1"><h1>Rejected</h1><b>1</b></div>
</center>
</div>

{% endblock %}